In [47]:
import pandas as pd
dataset = pd.read_csv("HRDataset_v14.csv")

In [48]:
dataset

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [49]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [50]:
dataset.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [51]:
dataset.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [52]:
## if status is not placed, those are 67 count
# Replace the missing value with central tendency - Mean, Median. Mode
# or delete the entire row
# Respective to the problem, have to replace the missing values
# consider this as semi supervised, create a model, so that we can predict missing values

In [53]:
dataset.isna().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [54]:
dataset["DateofTermination"].fillna(0,inplace=True)
dataset["ManagerID"].fillna(0,inplace=True)

C:\Users\Ganesh\AppData\Local\Temp\ipykernel_8824\3916508957.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["DateofTermination"].fillna(0,inplace=True)
C:\Users\Ganesh\AppData\Local\Temp\ipykernel_8824\3916508957.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["ManagerID"].fillna(0,inplace=True)

In [55]:
dataset

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [56]:
dataset.isnull().sum()

Employee_Name                 0
EmpID                         0
MarriedID                     0
MaritalStatusID               0
GenderID                      0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
DateofTermination             0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
ManagerID                     0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
dtype: int64

In [57]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [58]:
quan,qual=quanQual(dataset)

In [59]:
dataset[quan]

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
0,10026,0,0,1,1,5,4,0,62506,0,19,1960,22.0,4.60,5,0,0,1
1,10084,1,1,1,5,3,3,0,104437,1,27,2148,4.0,4.96,3,6,0,17
2,10196,1,1,0,5,5,3,0,64955,1,20,1810,20.0,3.02,3,0,0,3
3,10088,1,1,0,1,5,3,0,64991,0,19,1886,16.0,4.84,5,0,0,15
4,10069,0,2,0,5,5,3,0,50825,1,19,2169,39.0,5.00,4,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,10135,0,0,1,1,5,3,0,65893,0,20,1810,20.0,4.07,4,0,0,13
307,10301,0,0,0,5,5,1,0,48513,1,19,2458,12.0,3.20,2,0,5,4
308,10010,0,0,0,1,3,4,0,220450,0,6,2067,2.0,4.60,5,6,0,16
309,10043,0,0,0,1,3,3,0,89292,0,9,2148,4.0,5.00,3,5,0,11
310,10271,0,4,0,1,5,3,0,45046,0,19,1730,14.0,4.50,5,0,0,2

In [60]:
dataset[qual]

,Employee_Name,Position,State,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,RecruitmentSource,PerformanceScore,LastPerformanceReview_Date
0,"Adinolfi, Wilson K",Production Technician I,MA,07/10/83,M,Single,US Citizen,No,White,7/5/2011,0,N/A-StillEmployed,Active,Production,Michael Albert,LinkedIn,Exceeds,1/17/2019
1,"Ait Sidi, Karthikeyan",Sr. DBA,MA,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,Indeed,Fully Meets,2/24/2016
2,"Akinkuolie, Sarah",Production Technician II,MA,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,LinkedIn,Fully Meets,5/15/2012
3,"Alagbe,Trina",Production Technician I,MA,09/27/88,F,Married,US Citizen,No,White,1/7/2008,0,N/A-StillEmployed,Active,Production,Elijiah Gray,Indeed,Fully Meets,1/3/2019
4,"Anderson, Carol",Production Technician I,MA,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,Google Search,Fully Meets,2/1/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",Production Technician II,MA,05/11/85,M,Single,US Citizen,No,White,7/7/2014,0,N/A-StillEmployed,Active,Production,Kissy Sullivan,LinkedIn,Fully Meets,2/28/2019
307,"Ybarra, Catherine",Production Technician I,MA,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,Google Search,PIP,9/2/2015
308,"Zamora, Jennifer",CIO,MA,08/30/79,F,Single,US Citizen,No,White,4/10/2010,0,N/A-StillEmployed,Active,IT/IS,Janet King,Employee Referral,Exceeds,2/21/2019
309,"Zhou, Julia",Data Analyst,MA,02/24/79,F,Single,US Citizen,No,White,3/30/2015,0,N/A-StillEmployed,Active,IT/IS,Simon Roup,Employee Referral,Fully Meets,2/1/2019
310,"Zima, Colleen",Production Technician I,MA,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,0,N/A-StillEmployed,Active,Production,David Stanley,LinkedIn,Fully Meets,1/30/2019

In [61]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])
df = pd.DataFrame(df,columns = quan)

In [62]:
df

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
0,10026.0,0.0,0.0,1.0,1.0,5.0,4.0,0.0,62506.0,0.0,19.0,1960.0,22.0,4.60,5.0,0.0,0.0,1.0
1,10084.0,1.0,1.0,1.0,5.0,3.0,3.0,0.0,104437.0,1.0,27.0,2148.0,4.0,4.96,3.0,6.0,0.0,17.0
2,10196.0,1.0,1.0,0.0,5.0,5.0,3.0,0.0,64955.0,1.0,20.0,1810.0,20.0,3.02,3.0,0.0,0.0,3.0
3,10088.0,1.0,1.0,0.0,1.0,5.0,3.0,0.0,64991.0,0.0,19.0,1886.0,16.0,4.84,5.0,0.0,0.0,15.0
4,10069.0,0.0,2.0,0.0,5.0,5.0,3.0,0.0,50825.0,1.0,19.0,2169.0,39.0,5.00,4.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,10135.0,0.0,0.0,1.0,1.0,5.0,3.0,0.0,65893.0,0.0,20.0,1810.0,20.0,4.07,4.0,0.0,0.0,13.0
307,10301.0,0.0,0.0,0.0,5.0,5.0,1.0,0.0,48513.0,1.0,19.0,2458.0,12.0,3.20,2.0,0.0,5.0,4.0
308,10010.0,0.0,0.0,0.0,1.0,3.0,4.0,0.0,220450.0,0.0,6.0,2067.0,2.0,4.60,5.0,6.0,0.0,16.0
309,10043.0,0.0,0.0,0.0,1.0,3.0,3.0,0.0,89292.0,0.0,9.0,2148.0,4.0,5.00,3.0,5.0,0.0,11.0
310,10271.0,0.0,4.0,0.0,1.0,5.0,3.0,0.0,45046.0,0.0,19.0,1730.0,14.0,4.50,5.0,0.0,0.0,2.0

In [63]:
cate=dataset[qaul]

In [64]:
cate

,Employee_Name,Position,State,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,RecruitmentSource,PerformanceScore,LastPerformanceReview_Date
0,"Adinolfi, Wilson K",Production Technician I,MA,07/10/83,M,Single,US Citizen,No,White,7/5/2011,0,N/A-StillEmployed,Active,Production,Michael Albert,LinkedIn,Exceeds,1/17/2019
1,"Ait Sidi, Karthikeyan",Sr. DBA,MA,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,Indeed,Fully Meets,2/24/2016
2,"Akinkuolie, Sarah",Production Technician II,MA,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,LinkedIn,Fully Meets,5/15/2012
3,"Alagbe,Trina",Production Technician I,MA,09/27/88,F,Married,US Citizen,No,White,1/7/2008,0,N/A-StillEmployed,Active,Production,Elijiah Gray,Indeed,Fully Meets,1/3/2019
4,"Anderson, Carol",Production Technician I,MA,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,Google Search,Fully Meets,2/1/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",Production Technician II,MA,05/11/85,M,Single,US Citizen,No,White,7/7/2014,0,N/A-StillEmployed,Active,Production,Kissy Sullivan,LinkedIn,Fully Meets,2/28/2019
307,"Ybarra, Catherine",Production Technician I,MA,05/04/82,F,Single,US Citizen,No,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,Google Search,PIP,9/2/2015
308,"Zamora, Jennifer",CIO,MA,08/30/79,F,Single,US Citizen,No,White,4/10/2010,0,N/A-StillEmployed,Active,IT/IS,Janet King,Employee Referral,Exceeds,2/21/2019
309,"Zhou, Julia",Data Analyst,MA,02/24/79,F,Single,US Citizen,No,White,3/30/2015,0,N/A-StillEmployed,Active,IT/IS,Simon Roup,Employee Referral,Fully Meets,2/1/2019
310,"Zima, Colleen",Production Technician I,MA,08/17/78,F,Widowed,US Citizen,No,Asian,9/29/2014,0,N/A-StillEmployed,Active,Production,David Stanley,LinkedIn,Fully Meets,1/30/2019

In [65]:
two=[df,cate]

In [66]:
preprocessed=pd.concat(two,axis=1)

In [67]:
preprocessed

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,...,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,RecruitmentSource,PerformanceScore,LastPerformanceReview_Date
0,10026.0,0.0,0.0,1.0,1.0,5.0,4.0,0.0,62506.0,0.0,...,White,7/5/2011,0,N/A-StillEmployed,Active,Production,Michael Albert,LinkedIn,Exceeds,1/17/2019
1,10084.0,1.0,1.0,1.0,5.0,3.0,3.0,0.0,104437.0,1.0,...,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,Indeed,Fully Meets,2/24/2016
2,10196.0,1.0,1.0,0.0,5.0,5.0,3.0,0.0,64955.0,1.0,...,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,LinkedIn,Fully Meets,5/15/2012
3,10088.0,1.0,1.0,0.0,1.0,5.0,3.0,0.0,64991.0,0.0,...,White,1/7/2008,0,N/A-StillEmployed,Active,Production,Elijiah Gray,Indeed,Fully Meets,1/3/2019
4,10069.0,0.0,2.0,0.0,5.0,5.0,3.0,0.0,50825.0,1.0,...,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,Google Search,Fully Meets,2/1/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,10135.0,0.0,0.0,1.0,1.0,5.0,3.0,0.0,65893.0,0.0,...,White,7/7/2014,0,N/A-StillEmployed,Active,Production,Kissy Sullivan,LinkedIn,Fully Meets,2/28/2019
307,10301.0,0.0,0.0,0.0,5.0,5.0,1.0,0.0,48513.0,1.0,...,Asian,9/2/2008,9/29/2015,Another position,Voluntarily Terminated,Production,Brannon Miller,Google Search,PIP,9/2/2015
308,10010.0,0.0,0.0,0.0,1.0,3.0,4.0,0.0,220450.0,0.0,...,White,4/10/2010,0,N/A-StillEmployed,Active,IT/IS,Janet King,Employee Referral,Exceeds,2/21/2019
309,10043.0,0.0,0.0,0.0,1.0,3.0,3.0,0.0,89292.0,0.0,...,White,3/30/2015,0,N/A-StillEmployed,Active,IT/IS,Simon Roup,Employee Referral,Fully Meets,2/1/2019
310,10271.0,0.0,4.0,0.0,1.0,5.0,3.0,0.0,45046.0,0.0,...,Asian,9/29/2014,0,N/A-StillEmployed,Active,Production,David Stanley,LinkedIn,Fully Meets,1/30/2019

In [68]:
preprocessed.to_csv("PreHRDataset_v14data.csv",index=False)